
/* HEADER */
h2,p,a,input{
    font-family:'Raleway', sans-serif; 
}
.header{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    border: 40px; 
    margin-left: 40px;
}
.menu{
        padding: 40px 0px 0px 0px;
}
a:visited{
    color: #0065FC;
}
/* CORPS */
.recherche{
    display: flex
}
.bordersesh{
    width: 400px;
    border-radius: 10px;
    border: 0,7px solid #F2F2F2;
}
.icon{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}
.sursh{
    width: 250px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
}
.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordernone{
    border: none
}
.paddingsursh{
    padding-left: 20px;
}
.boutonsursh{
    height: 50px;
    width: 120px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}
/* FILTRES */
.tout{
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin-top: 20px;
}
.boutonfinieco{
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2px;
    left: 40px;
    position: relative;
    margin-left: -30px;
}
.seachereco{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    border: solid;
    border-radius: 40px;
    border-color:#F2F2F2 ;
    z-index: 1px;
    text-align: center;
}
.boutonfinifam{
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2px;
    left: 40px;
    position: relative;
    margin-left: -30px;
}
.seacherfam{
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    text-align: center;
    border: solid;
    border-radius: 40px;
    border-color:#F2F2F2 ;
    z-index: 1px; 
}
.boutonfinirom{
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2px;
    left: 40px;
    position: relative;
    margin-left: -30px;
}
.seacherrom{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    border: solid;
    border-radius: 40px;
    border-color:#F2F2F2 ;
    z-index: 1px;
    text-align: center;
}
.boutonfiniani{
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2px;
    left: 40px;
    position: relative;
    margin-left: -30px;
}
.seacherani{
    width: 250px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    border: solid;
    border-radius: 40px;
    border-color:#F2F2F2 ;
    z-index: 1px;
    text-align: center;  
}
/* HEBERGEMENTS */
*{
    margin: 0;
    padding: 0;
}
.contener{
    /* position: relative; */
    max-height: 600px;
    background-color: #F2F2F2;
    max-width: 60%;
    border-radius: 30px;
}
.contener h1,h3{
    font-family: 'Raleway', sans-serif;
}
.contener .image-contener{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    height: 300px;
}
.contener .image-contener .image{
    background-color: white;
    height: 240px;
    width: 250px;
    border: 5px  solid white;
    /* border-bottom: 100px  solid white; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    
}
.contener .image-contener .image img{
    height:150px;
    width: 250px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener .image-contener .image:hover img{
    transform: scale(1.1);
}

.contener .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height:100%;
    width: 100%;
    z-index: 100%;
    display: none;
}
.contener .popup-image span{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.contener .popup-image img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px){
    .contener .popup-image img{
        width: 95%;
    }
}
/* COTE DROIT */
.contener2{
    /* position: relative; */
    min-height: 600px;
    background-color: #F2F2F2;
    max-width: 400px;
    border-radius: 30px;
}
.contener2 h1,h4{
    font-family: 'Raleway', sans-serif;
}
.contener2 h1{
    margin-top: 20px;
    margin-left: 20px;
}
.contener2 .image-contener2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    height: 300px;
}
.contener2 .image-contener2 .image2{
    background-color: white;
    height: 150px;
    width: 350px;
    border: 5px  solid white;
    /* border-right: 100px  solid white; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contener2 .image-contener2 .image2 img{
    height:150px;
    width: 150px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener2 .image-contener2 .image2:hover img{
    transform: scale(1.1);
}

.contener2 .popup-image2{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height:100%;
    width: 100%;
    z-index: 100%;
    display: none;
}
.contener2 .popup-image2 span{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.contener2 .popup-image2 img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px){
    .contene2 .popup-image2 img{
        width: 95%;
    }
}    
.les-contener{
    display: flex;
    justify-content: space-between;
}
.star{
    text-align:initial;
    margin-top: 10px;
}
.etoile{
    color: #F2F2F2;
    margin-top: 30px;
    font-size: 20px;
}
.star1{
    margin-top: 20px;
    margin-left: 20px;
}
.etoile1{
    color: #F2F2F2;
    font-size: 20px;
}
/* ACTIVITEES */
.image-contener3{
    display: flex;
    justify-content: center;
    /* margin: 30px; */

}
.contener3 h1,h4{
    font-family: 'Raleway', sans-serif;
}
.contener3 .image-contener3{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 300px;
}
.contener3 .image-contener3 .image3a{
    background-color: white;
    height: 400px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    
}
.contener3 .image-contener3 .image3a img{
    height:350px;
    width: 300px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener3 .image-contener3 .image3:hover img{
    transform: scale(1.1);
}

.contener3 .popup-image3{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height:100%;
    width: 100%;
    z-index: 100%;
    display: none;
}
.contener3 .popup-image3 span{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.contener3 .popup-image3 img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px){
    .contene3 .popup-image3 img{
        width: 95%;
    }
} 
.contener3 .image-contener3 .image3b{
    background-color: white;
    height: 200px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.contener3 .image-contener3 .image3b img{
    height:150px;
    width: 300px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener3 .image-contener3 .image3c{
    background-color: white;
    height: 130px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 70px;
}
.contener3 .image-contener3 .image3c img{
    height:80px;
    width: 300px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener3 .image-contener3 .image3d{
    background-color: white;
    height: 400px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 4;
}
.contener3 .image-contener3 .image3d img{
    height:350px;
    width: 300px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener3 .image-contener3 .image3e{
    background-color: white;
    height: 200px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.contener3 .image-contener3 .image3e img{
    height:150px;
    width: 300px;
    object-fit: cover;
    transition: .2s linear ;
}
.contener3 .image-contener3 .image3f{
    background-color: white;
    height: 200px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 5px;
}
.contener3 .image-contener3 .image3f img{
    height:150px;
    width: 300px;
    object-fit: cover;
    transition: .2s linear ;
}   
.footer{
    min-height: 200px;
    background-color: #F2F2F2;
    max-width: 100%;
    display: flex;
    margin-top: 200px;
    text-align:left;
    align-items:center;
} 
.A-propos{
    margin-right: 300px;
    margin-left: 50px;
}
.nos-hébergements{
    margin-right: 300px;
}
.footer p,h3{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.fa-solid{
    display: flex;
    color: black;
}